* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header, footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  